<template name="home">
	{{#markdown}}
## Welcome to my Blog
Here I'm talking about my latest discoveries from the world of JavaScript.
	{{/markdown}}

	<!-- #Sessions -> Using sessions in template helpers -->
	<h2>This comes from our Session: <strong>{{sessionExample}}</strong></h2>


	<!-- Listing posts -->
	{{#each postsList}}
		{{> postInList}}
	{{/each}}

	<!-- #Controlling the data flow -> Lazy load posts or how to change subscriptions -->
	<button class="lazyload">Load more</button>
</template>